#!KAMAILIO

####### Modules Section ##########
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
children=32

####### Request Routing Logic #########
request_route {
    # Basic sanity checks
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }
    
    # Handle OPTIONS for monitoring/pinging from load balancer
    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK - Node Ready");
        exit;
    }
    
    # Log incoming INVITE requests
    if (is_method("INVITE")) {
         xlog("L_INFO", "Node 2 received INVITE from $si:$sp to $ru\n");
        
        # Here you would typically handle the INVITE
        sl_send_reply("302", "OK from Node 2");
        exit;
    }
    
    # For all other requests, simply reply
    sl_send_reply("200", "OK - Request Handled");
    exit;
}
